<div class="column">
  <!--Sign Up-->
<h2 class="title pb-4">Create A New Account:</h2><hr>
<form class="signup-form">
  <!--Username Input-->
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <!--Email Input-->
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <!--Github Input-->
    <div>
    <label for="github-signup">GitHub:</label>
    <input type="text" id="github-signup" />
  </div>
  <!--Password Input-->
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <!--Sign Up Button-->
  <div>
    <button type="submit" class="button is-primary">Sign Up</button>
  </div>
</form>
</div>

<!-- JS file-->
<script src="/javascript/signup.js"></script>